h1 {
  color: white;
}
body {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
}
a {
  color: white;
}
a:hover {
  color: #00CC99 ;
  text-decoration: none;
}
#slider img {
  max-height: 600px;
}

.thmb {
    cursor: pointer;
}

.wink {
  float: right;
  margin: 0 0 10px 10px;

}
.wink:hover {
  width: 500px;
  height: auto;
}

.pssword {
    background: transparent;
    border: 0;
}

  .title {
    color: #52ADDA;
    font-family: monospace;
    text-decoration: none;
  }

  .photo-index {
    font-size: 17px;
  }

  .nav-control {
    font-size: 30px;
   }

   .text-muted {
    margin:15px;
   }


   /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
